<a href="https://colab.research.google.com/github/Soyeon-ErinLee/Machine_Learning/blob/master/%EB%82%9C%EC%88%98%EC%83%9D%EC%84%B1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount("/content/mydrive")

Drive already mounted at /content/mydrive; to attempt to forcibly remount, call drive.mount("/content/mydrive", force_remount=True).

In [ ]:
import pandas as pd
data=pd.read_csv("/content/mydrive/Shared drives/2020 KU datathon/Regression/0813prediction.csv",sep=",")
data.columns=['roomid','dust','temperature','humidity','co2']
data.head()
data['roomid']=data['roomid'].apply(lambda x: x.replace(' ', ''))
data = data.fillna(0)

In [ ]:
import numpy as np

min = data[data['roomid']=='B1A'].temperature.min()
max = data[data['roomid']=='B1A'].temperature.max()
import random
temp = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    temp.append(a)

min = data[data['roomid']=='B1A'].humidity.min()
max = data[data['roomid']=='B1A'].humidity.max()
import random
hum = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    hum.append(a)

dus = round(data[(data['roomid']=='B122')|(data['roomid']== 'B123')|(data['roomid']== 'B124')|(data['roomid']=='B125')|(data['roomid']=='B126')]['dust'].mean(),2)
co2 = round(data[(data['roomid']=='B122')|(data['roomid']== 'B123')|(data['roomid']== 'B124')|(data['roomid']=='B125')|(data['roomid']=='B126')]['co2'].mean(),2)

new = pd.DataFrame(np.array([np.repeat('B1A',26),np.repeat(dus,26),np.repeat(co2,26)]).T, columns=['roomid', 'dust','co2'])
new['temperature'] = pd.Series(temp, index=new.index)
new['humidity'] = pd.Series(hum, index=new.index)
frames = [data, new]
data = pd.concat(frames)

data['roomid']=data['roomid'].astype(str)
data.loc[data.roomid == "B1A", "dust"] = dus
data.loc[data.roomid == "B1A", "co2"] = co2

In [ ]:
data[data['roomid']=='B1A']

     roomid   dust  temperature  humidity     co2
5556    B1A  47.71        25.80     72.80  610.58
5557    B1A  47.71        25.98     73.52  610.58
5558    B1A  47.71        26.42     73.57  610.58
5559    B1A  47.71        26.86     73.26  610.58
5560    B1A  47.71        27.20     72.57  610.58
0       B1A  47.71        26.20     72.72  610.58
1       B1A  47.71        25.87     72.57  610.58
2       B1A  47.71        26.96     72.79  610.58
3       B1A  47.71        26.99     72.81  610.58
4       B1A  47.71        26.60     73.06  610.58
5       B1A  47.71        26.49     72.94  610.58
6       B1A  47.71        26.46     73.32  610.58
7       B1A  47.71        27.12     72.94  610.58
8       B1A  47.71        26.99     73.52  610.58
9       B1A  47.71        26.22     73.02  610.58
10      B1A  47.71        25.83     72.99  610.58
11      B1A  47.71        26.36     73.19  610.58
12      B1A  47.71        26.78     73.25  610.58
13      B1A  47.71        26.60     72.85  610.58
14      B1A  47.71        26.23     73.48  610.58
15      B1A  47.71        26.11     72.94  610.58
16      B1A  47.71        26.80     73.27  610.58
17      B1A  47.71        26.09     73.34  610.58
18      B1A  47.71        26.58     72.71  610.58
19      B1A  47.71        26.07     72.75  610.58
20      B1A  47.71        26.61     72.57  610.58
21      B1A  47.71        25.88     73.01  610.58
22      B1A  47.71        26.61     72.82  610.58
23      B1A  47.71        26.64     73.22  610.58
24      B1A  47.71        25.81     73.50  610.58
25      B1A  47.71        26.24     72.90  610.58

In [ ]:
min = data[data['roomid']=='B1B'].temperature.min()
max = data[data['roomid']=='B1B'].temperature.max()
import random
temp = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    temp.append(a)

min = data[data['roomid']=='B1B'].humidity.min()
max = data[data['roomid']=='B1B'].humidity.max()
import random
hum = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    hum.append(a)
    
dus = round(data[(data['roomid']=='B129')|(data['roomid']== 'B130')|(data['roomid']== 'B133')|(data['roomid']=='B134')|(data['roomid']=='B135')]['dust'].mean(),2)
co2 = round(data[(data['roomid']=='B129')|(data['roomid']== 'B130')|(data['roomid']== 'B133')|(data['roomid']=='B134')|(data['roomid']=='B135')]['co2'].mean(),2)

new = pd.DataFrame(np.array([np.repeat('B1B',26),np.repeat(dus,26),np.repeat(co2,26)]).T, columns=['roomid', 'dust','co2'])
new['temperature'] = pd.Series(temp, index=new.index)
new['humidity'] = pd.Series(hum, index=new.index)
frames = [data, new]
data = pd.concat(frames)

data['roomid']=data['roomid'].astype(str)
data.loc[data.roomid == "B1B", "dust"] = dus
data.loc[data.roomid == "B1B", "co2"] = co2

In [ ]:
min = data[data['roomid']=='B1C'].temperature.min()
max = data[data['roomid']=='B1C'].temperature.max()
import random
temp = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    temp.append(a)

min = data[data['roomid']=='B1C'].humidity.min()
max = data[data['roomid']=='B1C'].humidity.max()
import random
hum = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    hum.append(a)

dus = round(data[(data['roomid']=='B134')|(data['roomid']== 'B135')|(data['roomid']== 'B139')|(data['roomid']=='B141')]['dust'].mean(),2)
co2 = round(data[(data['roomid']=='B134')|(data['roomid']== 'B135')|(data['roomid']== 'B139')|(data['roomid']=='B141')]['co2'].mean(),2)

new = pd.DataFrame(np.array([np.repeat('B1C',26),np.repeat(dus,26),np.repeat(co2,26)]).T, columns=['roomid', 'dust','co2'])
new['temperature'] = pd.Series(temp, index=new.index)
new['humidity'] = pd.Series(hum, index=new.index)
frames = [data, new]
data = pd.concat(frames)

data['roomid']=data['roomid'].astype(str)
data.loc[data.roomid == "B1C", "dust"] = dus
data.loc[data.roomid == "B1C", "co2"] = co2

In [ ]:
min = data[data['roomid']=='B1D'].temperature.min()
max = data[data['roomid']=='B1D'].temperature.max()
import random
temp = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    temp.append(a)

min = data[data['roomid']=='B1D'].humidity.min()
max = data[data['roomid']=='B1D'].humidity.max()
import random
hum = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    hum.append(a)

dus = round(data[(data['roomid']=='B108')|(data['roomid']== 'B113')|(data['roomid']== 'B107')|(data['roomid']=='B107')]['dust'].mean(),2)
co2 = round(data[(data['roomid']=='B101')|(data['roomid']== 'B111')|(data['roomid']== 'B112')|(data['roomid']=='B108')|(data['roomid']=='B107')]['co2'].mean(),2)

new = pd.DataFrame(np.array([np.repeat('B1D',26),np.repeat(dus,26),np.repeat(co2,26)]).T, columns=['roomid', 'dust','co2'])
new['temperature'] = pd.Series(temp, index=new.index)
new['humidity'] = pd.Series(hum, index=new.index)
frames = [data, new]
data = pd.concat(frames)

data['roomid']=data['roomid'].astype(str)
data.loc[data.roomid == "B1D", "dust"] = dus
data.loc[data.roomid == "B1D", "co2"] = co2

In [ ]:
min = data[data['roomid']=='1A'].temperature.min()
max = data[data['roomid']=='1A'].temperature.max()
import random
temp = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    temp.append(a)

min = data[data['roomid']=='1A'].humidity.min()
max = data[data['roomid']=='1A'].humidity.max()
import random
hum = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    hum.append(a)

dus = round(data[(data['roomid']=='B1A')|(data['roomid']== 'B1B')|(data['roomid']== 'B1C')|(data['roomid']=='B1D')|(data['roomid']=='2A')|(data['roomid']=='2B')|(data['roomid']=='2C')]['dust'].mean(),2)
co2 = round(data[(data['roomid']=='B1A')|(data['roomid']== 'B1B')|(data['roomid']== 'B1C')|(data['roomid']=='B1D')|(data['roomid']=='2A')|(data['roomid']=='2B')|(data['roomid']=='2C')]['co2'].mean(),2)

new = pd.DataFrame(np.array([np.repeat('1A',26),np.repeat(dus,26),np.repeat(co2,26)]).T, columns=['roomid', 'dust','co2'])
new['temperature'] = pd.Series(temp, index=new.index)
new['humidity'] = pd.Series(hum, index=new.index)
frames = [data, new]
data = pd.concat(frames)


data['roomid']=data['roomid'].astype(str)
data.loc[data.roomid == "1A", "dust"] = dus
data.loc[data.roomid == "1A", "co2"] = co2

In [ ]:
min = data[data['roomid']=='1B'].temperature.min()
max = data[data['roomid']=='1B'].temperature.max()
import random
temp = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    temp.append(a)

min = data[data['roomid']=='1B'].humidity.min()
max = data[data['roomid']=='1B'].humidity.max()
import random
hum = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    hum.append(a)

dus = round(data[(data['roomid']=='B1A')|(data['roomid']== 'B1B')|(data['roomid']== 'B1C')|(data['roomid']=='B1D')|(data['roomid']=='2A')|(data['roomid']=='2B')|(data['roomid']=='2C')]['dust'].mean(),2)
co2 = round(data[(data['roomid']=='B1A')|(data['roomid']== 'B1B')|(data['roomid']== 'B1C')|(data['roomid']=='B1D')|(data['roomid']=='2A')|(data['roomid']=='2B')|(data['roomid']=='2C')]['co2'].mean(),2)

new = pd.DataFrame(np.array([np.repeat('1B',26),np.repeat(dus,26),np.repeat(co2,26)]).T, columns=['roomid', 'dust','co2'])
new['temperature'] = pd.Series(temp, index=new.index)
new['humidity'] = pd.Series(hum, index=new.index)
frames = [data, new]
data = pd.concat(frames)


data['roomid']=data['roomid'].astype(str)
data.loc[data.roomid == "1C", "dust"] = dus
data.loc[data.roomid == "1C", "co2"] = co2

In [ ]:
min = data[data['roomid']=='1C'].temperature.min()
max = data[data['roomid']=='1C'].temperature.max()
import random
temp = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    temp.append(a)

min = data[data['roomid']=='1C'].humidity.min()
max = data[data['roomid']=='1C'].humidity.max()
import random
hum = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    hum.append(a)

dus = round(data[(data['roomid']=='B1A')|(data['roomid']== 'B1B')|(data['roomid']== 'B1C')|(data['roomid']=='B1D')|(data['roomid']=='2A')|(data['roomid']=='2B')|(data['roomid']=='2C')]['dust'].mean(),2)
co2 = round(data[(data['roomid']=='B1A')|(data['roomid']== 'B1B')|(data['roomid']== 'B1C')|(data['roomid']=='B1D')|(data['roomid']=='2A')|(data['roomid']=='2B')|(data['roomid']=='2C')]['co2'].mean(),2)

new = pd.DataFrame(np.array([np.repeat('1C',26),np.repeat(dus,26),np.repeat(co2,26)]).T, columns=['roomid', 'dust','co2'])
new['temperature'] = pd.Series(temp, index=new.index)
new['humidity'] = pd.Series(hum, index=new.index)
frames = [data, new]
data = pd.concat(frames)


data['roomid']=data['roomid'].astype(str)
data.loc[data.roomid == "1C", "dust"] = dus
data.loc[data.roomid == "1C", "co2"] = co2

In [ ]:
min = data[data['roomid']=='2A'].temperature.min()
max = data[data['roomid']=='2A'].temperature.max()
import random
temp = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    temp.append(a)

min = data[data['roomid']=='2A'].humidity.min()
max = data[data['roomid']=='2A'].humidity.max()
import random
hum = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    hum.append(a)

dus = round(data[(data['roomid']=='202')|(data['roomid']== '203')|(data['roomid']== '221')|(data['roomid']=='222')|(data['roomid']=='223')]['dust'].mean(),2)
co2 = round(data[(data['roomid']=='202')|(data['roomid']== '203')|(data['roomid']== '221')|(data['roomid']=='222')|(data['roomid']=='223')]['co2'].mean(),2)

new = pd.DataFrame(np.array([np.repeat('2A',26),np.repeat(dus,26),np.repeat(co2,26)]).T, columns=['roomid', 'dust','co2'])
new['temperature'] = pd.Series(temp, index=new.index)
new['humidity'] = pd.Series(hum, index=new.index)
frames = [data, new]
data = pd.concat(frames)

data['roomid']=data['roomid'].astype(str)
data.loc[data.roomid == "2A", "dust"] = dus
data.loc[data.roomid == "2A", "co2"] = co2

In [ ]:
min = data[data['roomid']=='2B'].temperature.min()
max = data[data['roomid']=='2B'].temperature.max()
import random
temp = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    temp.append(a)

min = data[data['roomid']=='2B'].humidity.min()
max = data[data['roomid']=='2B'].humidity.max()
import random
hum = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    hum.append(a)

dus = round(data[(data['roomid']=='208')|(data['roomid']== '221')|(data['roomid']== '211')|(data['roomid']=='212')|(data['roomid']=='213')]['dust'].mean(),2)
co2 = round(data[(data['roomid']=='208')|(data['roomid']== '221')|(data['roomid']== '211')|(data['roomid']=='212')|(data['roomid']=='213')]['co2'].mean(),2)

new = pd.DataFrame(np.array([np.repeat('2B',26),np.repeat(dus,26),np.repeat(co2,26)]).T, columns=['roomid', 'dust','co2'])
new['temperature'] = pd.Series(temp, index=new.index)
new['humidity'] = pd.Series(hum, index=new.index)
frames = [data, new]
data = pd.concat(frames)

data['roomid']=data['roomid'].astype(str)
data.loc[data.roomid == "2B", "dust"] = dus
data.loc[data.roomid == "2B", "co2"] = co2

In [ ]:
min = data[data['roomid']=='2C'].temperature.min()
max = data[data['roomid']=='2C'].temperature.max()
import random
temp = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    temp.append(a)

min = data[data['roomid']=='2C'].humidity.min()
max = data[data['roomid']=='2C'].humidity.max()
import random
hum = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    hum.append(a)

dus = round(data[(data['roomid']=='215')|(data['roomid']== '216')|(data['roomid']== '218')|(data['roomid']=='219')|(data['roomid']=='220')]['dust'].mean(),2)
co2 = round(data[(data['roomid']=='215')|(data['roomid']== '216')|(data['roomid']== '218')|(data['roomid']=='219')|(data['roomid']=='220')]['co2'].mean(),2)

new = pd.DataFrame(np.array([np.repeat('2C',26),np.repeat(dus,26),np.repeat(co2,26)]).T, columns=['roomid', 'dust','co2'])
new['temperature'] = pd.Series(temp, index=new.index)
new['humidity'] = pd.Series(hum, index=new.index)
frames = [data, new]
data = pd.concat(frames)

data['roomid']=data['roomid'].astype(str)
data.loc[data.roomid == "2C", "dust"] = dus
data.loc[data.roomid == "2C", "co2"] = co2

In [ ]:
min = data[data['roomid']=='3A'].temperature.min()
max = data[data['roomid']=='3A'].temperature.max()
import random
temp = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    temp.append(a)

min = data[data['roomid']=='3A'].humidity.min()
max = data[data['roomid']=='3A'].humidity.max()
import random
hum = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    hum.append(a)

dus = round(data[(data['roomid']=='312')|(data['roomid']== '313')|(data['roomid']== '314')|(data['roomid']=='315')]['dust'].mean(),2)
co2 = round(data[(data['roomid']=='312')|(data['roomid']== '313')|(data['roomid']== '314')|(data['roomid']=='315')]['co2'].mean(),2)

new = pd.DataFrame(np.array([np.repeat('3A',26),np.repeat(dus,26),np.repeat(co2,26)]).T, columns=['roomid', 'dust','co2'])
new['temperature'] = pd.Series(temp, index=new.index)
new['humidity'] = pd.Series(hum, index=new.index)
frames = [data, new]
data = pd.concat(frames)

data['roomid']=data['roomid'].astype(str)
data.loc[data.roomid == "3A", "dust"] = dus
data.loc[data.roomid == "3A", "co2"] = co2

In [ ]:
min = data[data['roomid']=='3B'].temperature.min()
max = data[data['roomid']=='3B'].temperature.max()
import random
temp = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    temp.append(a)

min = data[data['roomid']=='3B'].humidity.min()
max = data[data['roomid']=='3B'].humidity.max()
import random
hum = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    hum.append(a)

dus = round(data[(data['roomid']=='312')|(data['roomid']== '313')|(data['roomid']== '314')|(data['roomid']=='315')|(data['roomid']=='316')]['dust'].mean(),2)
co2 = round(data[(data['roomid']=='312')|(data['roomid']== '313')|(data['roomid']== '314')|(data['roomid']=='315')|(data['roomid']=='316')]['co2'].mean(),2)

new = pd.DataFrame(np.array([np.repeat('3B',26),np.repeat(dus,26),np.repeat(co2,26)]).T, columns=['roomid', 'dust','co2'])
new['temperature'] = pd.Series(temp, index=new.index)
new['humidity'] = pd.Series(hum, index=new.index)
frames = [data, new]
data = pd.concat(frames)

data['roomid']=data['roomid'].astype(str)
data.loc[data.roomid == "3B", "dust"] = dus
data.loc[data.roomid == "3B", "co2"] = co2

In [ ]:
min = data[data['roomid']=='3C'].temperature.min()
max = data[data['roomid']=='3C'].temperature.max()
import random
temp = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    temp.append(a)

min = data[data['roomid']=='3C'].humidity.min()
max = data[data['roomid']=='3C'].humidity.max()
import random
hum = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    hum.append(a)

dus = round(data[(data['roomid']=='320')|(data['roomid']== '323')|(data['roomid']== '324')|(data['roomid']=='310')]['dust'].mean(),2)
co2 = round(data[(data['roomid']=='320')|(data['roomid']== '323')|(data['roomid']== '324')|(data['roomid']=='310')]['co2'].mean(),2)

new = pd.DataFrame(np.array([np.repeat('3C',26),np.repeat(dus,26),np.repeat(co2,26)]).T, columns=['roomid', 'dust','co2'])
new['temperature'] = pd.Series(temp, index=new.index)
new['humidity'] = pd.Series(hum, index=new.index)
frames = [data, new]
data = pd.concat(frames)

data['roomid']=data['roomid'].astype(str)
data.loc[data.roomid == "3C", "dust"] = dus
data.loc[data.roomid == "3C", "co2"] = co2

In [ ]:
min = data[data['roomid']=='3D'].temperature.min()
max = data[data['roomid']=='3D'].temperature.max()
import random
temp = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    temp.append(a)

min = data[data['roomid']=='3D'].humidity.min()
max = data[data['roomid']=='3D'].humidity.max()
import random
hum = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    hum.append(a)

dus = round(data[(data['roomid']=='308')|(data['roomid']== '309')|(data['roomid']== '310')|(data['roomid']=='324')|(data['roomid']=='325')]['dust'].mean(),2)
co2 = round(data[(data['roomid']=='308')|(data['roomid']== '309')|(data['roomid']== '310')|(data['roomid']=='324')|(data['roomid']=='325')]['co2'].mean(),2)

new = pd.DataFrame(np.array([np.repeat('3D',26),np.repeat(dus,26),np.repeat(co2,26)]).T, columns=['roomid', 'dust','co2'])
new['temperature'] = pd.Series(temp, index=new.index)
new['humidity'] = pd.Series(hum, index=new.index)
frames = [data, new]
data = pd.concat(frames)

data['roomid']=data['roomid'].astype(str)
data.loc[data.roomid == "3D", "dust"] = dus
data.loc[data.roomid == "3D", "co2"] = co2

In [ ]:
min = data[data['roomid']=='3E'].temperature.min()
max = data[data['roomid']=='3E'].temperature.max()
import random
temp = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    temp.append(a)

min = data[data['roomid']=='3E'].humidity.min()
max = data[data['roomid']=='3E'].humidity.max()
import random
hum = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    hum.append(a)

dus = round(data[(data['roomid']=='307')|(data['roomid']== '308')|(data['roomid']== '327')|(data['roomid']=='328')|(data['roomid']=='329')]['dust'].mean(),2)
co2 = round(data[(data['roomid']=='307')|(data['roomid']== '308')|(data['roomid']== '327')|(data['roomid']=='328')|(data['roomid']=='329')]['co2'].mean(),2)

new = pd.DataFrame(np.array([np.repeat('3E',26),np.repeat(dus,26),np.repeat(co2,26)]).T, columns=['roomid', 'dust','co2'])
new['temperature'] = pd.Series(temp, index=new.index)
new['humidity'] = pd.Series(hum, index=new.index)
frames = [data, new]
data = pd.concat(frames)

data['roomid']=data['roomid'].astype(str)
data.loc[data.roomid == "3E", "dust"] = dus
data.loc[data.roomid == "3E", "co2"] = co2

In [ ]:
min = data[data['roomid']=='3F'].temperature.min()
max = data[data['roomid']=='3F'].temperature.max()
import random
temp = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    temp.append(a)

min = data[data['roomid']=='3F'].humidity.min()
max = data[data['roomid']=='3F'].humidity.max()
import random
hum = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    hum.append(a)

dus = round(data[(data['roomid']=='327')|(data['roomid']== '328')|(data['roomid']== '329')]['dust'].mean(),2)
co2 = round(data[(data['roomid']=='327')|(data['roomid']== '328')|(data['roomid']== '329')]['co2'].mean(),2)

new = pd.DataFrame(np.array([np.repeat('3F',26),np.repeat(dus,26),np.repeat(co2,26)]).T, columns=['roomid', 'dust','co2'])
new['temperature'] = pd.Series(temp, index=new.index)
new['humidity'] = pd.Series(hum, index=new.index)
frames = [data, new]
data = pd.concat(frames)

data['roomid']=data['roomid'].astype(str)
data.loc[data.roomid == "3F", "dust"] = dus
data.loc[data.roomid == "3F", "co2"] = co2

In [ ]:
min = data[data['roomid']=='4A'].temperature.min()
max = data[data['roomid']=='4A'].temperature.max()
import random
temp = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    temp.append(a)

min = data[data['roomid']=='4A'].humidity.min()
max = data[data['roomid']=='4A'].humidity.max()
import random
hum = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    hum.append(a)

dus = round(data[(data['roomid']=='4113')|(data['roomid']== '4116')|(data['roomid']== '4117')|(data['roomid']== '4118')|(data['roomid']== '4004')]['dust'].mean(),2)
co2 = round(data[(data['roomid']=='4113')|(data['roomid']== '4116')|(data['roomid']== '4117')|(data['roomid']== '4118')|(data['roomid']== '4004')]['co2'].mean(),2)

new = pd.DataFrame(np.array([np.repeat('4A',26),np.repeat(dus,26),np.repeat(co2,26)]).T, columns=['roomid', 'dust','co2'])
new['temperature'] = pd.Series(temp, index=new.index)
new['humidity'] = pd.Series(hum, index=new.index)
frames = [data, new]
data = pd.concat(frames)

data['roomid']=data['roomid'].astype(str)
data.loc[data.roomid == "4A", "dust"] = dus
data.loc[data.roomid == "4A", "co2"] = co2

In [ ]:
min = data[data['roomid']=='4B'].temperature.min()
max = data[data['roomid']=='4B'].temperature.max()
import random
temp = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    temp.append(a)

min = data[data['roomid']=='4B'].humidity.min()
max = data[data['roomid']=='4B'].humidity.max()
import random
hum = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    hum.append(a)

dus = round(data[(data['roomid']=='4025')|(data['roomid']== '4026')|(data['roomid']== '4027')|(data['roomid']== '4028')|(data['roomid']== '4030')]['dust'].mean(),2)
co2 = round(data[(data['roomid']=='4025')|(data['roomid']== '4026')|(data['roomid']== '4027')|(data['roomid']== '4028')|(data['roomid']== '4030')]['co2'].mean(),2)

new = pd.DataFrame(np.array([np.repeat('4B',26),np.repeat(dus,26),np.repeat(co2,26)]).T, columns=['roomid', 'dust','co2'])
new['temperature'] = pd.Series(temp, index=new.index)
new['humidity'] = pd.Series(hum, index=new.index)
frames = [data, new]
data = pd.concat(frames)

data['roomid']=data['roomid'].astype(str)
data.loc[data.roomid == "4B", "dust"] = dus
data.loc[data.roomid == "4B", "co2"] = co2

In [ ]:
min = data[data['roomid']=='4C'].temperature.min()
max = data[data['roomid']=='4C'].temperature.max()
import random
temp = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    temp.append(a)

min = data[data['roomid']=='4C'].humidity.min()
max = data[data['roomid']=='4C'].humidity.max()
import random
hum = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    hum.append(a)

dus = round(data[(data['roomid']=='4043')|(data['roomid']== '4045')|(data['roomid']== '4046')|(data['roomid']== '4061')|(data['roomid']== '4060')]['dust'].mean(),2)
co2 = round(data[(data['roomid']=='4043')|(data['roomid']== '4045')|(data['roomid']== '4046')|(data['roomid']== '4061')|(data['roomid']== '4060')]['co2'].mean(),2)

new = pd.DataFrame(np.array([np.repeat('4C',26),np.repeat(dus,26),np.repeat(co2,26)]).T, columns=['roomid', 'dust','co2'])
new['temperature'] = pd.Series(temp, index=new.index)
new['humidity'] = pd.Series(hum, index=new.index)
frames = [data, new]
data = pd.concat(frames)

data['roomid']=data['roomid'].astype(str)
data.loc[data.roomid == "4C", "dust"] = dus
data.loc[data.roomid == "4C", "co2"] = co2

In [ ]:
min = data[data['roomid']=='4D'].temperature.min()
max = data[data['roomid']=='4D'].temperature.max()
import random
temp = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    temp.append(a)

min = data[data['roomid']=='4D'].humidity.min()
max = data[data['roomid']=='4D'].humidity.max()
import random
hum = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    hum.append(a)

dus = round(data[(data['roomid']=='4062')|(data['roomid']== '4071')|(data['roomid']== '4072')|(data['roomid']== '4073')|(data['roomid']== '4074')]['dust'].mean(),2)
co2 = round(data[(data['roomid']=='4062')|(data['roomid']== '4071')|(data['roomid']== '4072')|(data['roomid']== '4073')|(data['roomid']== '4074')]['co2'].mean(),2)

new = pd.DataFrame(np.array([np.repeat('4D',26),np.repeat(dus,26),np.repeat(co2,26)]).T, columns=['roomid', 'dust','co2'])
new['temperature'] = pd.Series(temp, index=new.index)
new['humidity'] = pd.Series(hum, index=new.index)
frames = [data, new]
data = pd.concat(frames)

data['roomid']=data['roomid'].astype(str)
data.loc[data.roomid == "4D", "dust"] = dus
data.loc[data.roomid == "4D", "co2"] = co2

In [ ]:
min = data[data['roomid']=='5A'].temperature.min()
max = data[data['roomid']=='5A'].temperature.max()
import random
temp = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    temp.append(a)

min = data[data['roomid']=='5A'].humidity.min()
max = data[data['roomid']=='5A'].humidity.max()
import random
hum = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    hum.append(a)

dus = round(data[(data['roomid']=='503')|(data['roomid']== '502')|(data['roomid']== '506')|(data['roomid']== '507')]['dust'].mean(),2)
co2 = round(data[(data['roomid']=='503')|(data['roomid']== '502')|(data['roomid']== '506')|(data['roomid']== '507')]['co2'].mean(),2)

new = pd.DataFrame(np.array([np.repeat('5A',26),np.repeat(dus,26),np.repeat(co2,26)]).T, columns=['roomid', 'dust','co2'])
new['temperature'] = pd.Series(temp, index=new.index)
new['humidity'] = pd.Series(hum, index=new.index)
frames = [data, new]
data = pd.concat(frames)

data['roomid']=data['roomid'].astype(str)
data.loc[data.roomid == "5A", "dust"] = dus
data.loc[data.roomid == "5A", "co2"] = co2

In [ ]:
min = data[data['roomid']=='5B'].temperature.min()
max = data[data['roomid']=='5B'].temperature.max()
import random
temp = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    temp.append(a)

min = data[data['roomid']=='5B'].humidity.min()
max = data[data['roomid']=='5B'].humidity.max()
import random
hum = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    hum.append(a)
data[(data['roomid']=='514')|(data['roomid']== '501')|(data['roomid']== '515')]
dus = round(data[(data['roomid']=='514')|(data['roomid']== '501')|(data['roomid']== '515')]['dust'].mean(),2)
co2 = round(data[(data['roomid']=='514')|(data['roomid']== '501')|(data['roomid']== '515')]['co2'].mean(),2)

new = pd.DataFrame(np.array([np.repeat('5B',26),np.repeat(dus,26),np.repeat(co2,26)]).T, columns=['roomid', 'dust','co2'])
new['temperature'] = pd.Series(temp, index=new.index)
new['humidity'] = pd.Series(hum, index=new.index)
frames = [data, new]
data = pd.concat(frames)

data['roomid']=data['roomid'].astype(str)
data.loc[data.roomid == "5B", "dust"] = dus
data.loc[data.roomid == "5B", "co2"] = co2

In [ ]:
min = data[data['roomid']=='5C'].temperature.min()
max = data[data['roomid']=='5C'].temperature.max()
import random
temp = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    temp.append(a)

min = data[data['roomid']=='5C'].humidity.min()
max = data[data['roomid']=='5C'].humidity.max()
import random
hum = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    hum.append(a)

dus = round(data[(data['roomid']=='515')|(data['roomid']== '516')|(data['roomid']== '517')]['dust'].mean(),2)
co2 = round(data[(data['roomid']=='515')|(data['roomid']== '516')|(data['roomid']== '517')]['co2'].mean(),2)

new = pd.DataFrame(np.array([np.repeat('5C',26),np.repeat(dus,26),np.repeat(co2,26)]).T, columns=['roomid', 'dust','co2'])
new['temperature'] = pd.Series(temp, index=new.index)
new['humidity'] = pd.Series(hum, index=new.index)
frames = [data, new]
data = pd.concat(frames)

data['roomid']=data['roomid'].astype(str)
data.loc[data.roomid == "5C", "dust"] = dus
data.loc[data.roomid == "5C", "co2"] = co2

In [ ]:
min = data[data['roomid']=='5D'].temperature.min()
max = data[data['roomid']=='5D'].temperature.max()
import random
temp = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    temp.append(a)

min = data[data['roomid']=='5D'].humidity.min()
max = data[data['roomid']=='5D'].humidity.max()
import random
hum = []
for i in range(0, 26):
    a = round(random.uniform(min, max), 2)
    hum.append(a)

dus = round(data[(data['roomid']=='515')|(data['roomid']== '516')|(data['roomid']== '517')]['dust'].mean(),2)
co2 = round(data[(data['roomid']=='515')|(data['roomid']== '516')|(data['roomid']== '517')]['co2'].mean(),2)

new = pd.DataFrame(np.array([np.repeat('5D',26),np.repeat(dus,26),np.repeat(co2,26)]).T, columns=['roomid', 'dust','co2'])
new['temperature'] = pd.Series(temp, index=new.index)
new['humidity'] = pd.Series(hum, index=new.index)
frames = [data, new]
data = pd.concat(frames)

data['roomid']=data['roomid'].astype(str)
data.loc[data.roomid == "5C", "dust"] = dus
data.loc[data.roomid == "5C", "co2"] = co2

In [ ]:
new = data[data['roomid']=='B1D']
new = pd.DataFrame(new)
new['roomid'] = new['roomid'].replace(['B1D'],'B101')
frames = [data, new]
data = pd.concat(frames)

In [ ]:
new = data[data['roomid']=='B1D']
new = pd.DataFrame(new)
new['roomid'] = new['roomid'].replace(['B1D'],'B111')
frames = [data, new]
data = pd.concat(frames)

In [ ]:
new = data[data['roomid']=='B1D']
new = pd.DataFrame(new)
new['roomid'] = new['roomid'].replace(['B1D'],'B112')
frames = [data, new]
data = pd.concat(frames)

In [ ]:
data = data.sort_values(by=['roomid'])
data = data.reset_index(level=0)
data = data.drop(['index'], axis=1)

In [ ]:
data

     roomid  dust  temperature  humidity     co2
0        1A  44.2        27.29     69.20  548.96
1        1A  44.2        27.24     69.83  548.96
2        1A  44.2        27.24     69.60  548.96
3        1A  44.2        27.19     69.56  548.96
4        1A  44.2        27.20     69.37  548.96
...     ...   ...          ...       ...     ...
7063    B1D  52.1        28.24     72.79  617.15
7064    B1D  52.1        28.29     72.57  617.15
7065    B1D  52.1        28.31     72.46  617.15
7066    B1D  52.1        28.26     72.51  617.15
7067    B1D  52.1        27.91     72.49  617.15

[7068 rows x 5 columns]

In [ ]:
data.to_csv('/content/mydrive/Shared drives/2020 KU datathon/data_for_regression.csv')